POSTGRES_HOST=localhost
POSTGRES_DB=nexusagent
POSTGRES_USER=nexus
POSTGRES_PASSWORD=nexus
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=nexus-documents

NEXUS_UPLOAD_MAX_FILE_SIZE_BYTES=26214400
NEXUS_MULTIPART_MAX_IN_MEMORY_SIZE=1MB
NEXUS_MULTIPART_MAX_DISK_USAGE_PER_PART=30MB
NEXUS_MULTIPART_MAX_PARTS=4

NEXUS_CHUNKING_PARENT_MAX_CHARS=1200
NEXUS_CHUNKING_CHILD_MAX_CHARS=400
NEXUS_CHUNKING_CHILD_OVERLAP_CHARS=80
